*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.startScreen {
  position: absolute;
  background-color: rgba(119, 8, 82, 0.952);
  color: white;
  z-index: 1;
  margin-top: 25vh;
  margin-left: 25vw;
  font-size: 2rem;
  width: 50vw;
  height: 50vh;
  cursor: pointer;
  border-radius: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scoreCard {
  position: absolute;
  background-color: crimson;
  top: 7%;
  left: 5%;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.highScoreCard {
  position: absolute;
  background-color: crimson;
  right: 7%;
  top: 5%;
  width: max(max-content, 10vw);
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f7ecde;
  display: flex;
  justify-content: center;
}

.road {
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
}

.path {
  background-color: #f5cac3;
  width: 50%;
}

.left-left {
  border-right: 0.3rem solid #f7ecde;
}
.left-right {
  border-left: 0.3rem solid #f7ecde;
}
.right-left {
  border-right: 0.3rem solid #f7ecde;
}
.right-right {
  border-left: 0.3rem solid #f7ecde;
}

.left {
  border-right: 0.4rem solid #e9dac1;
}
.right {
  border-left: 0.4rem solid #e9dac1;
}

.car {
  position: absolute;
  height: 6rem;
  width: 3rem;
  bottom: 10%;
  left: 25%;
  transform: translate(-50%, +50%);
  background-color: transparent;
  border-radius: 0.5rem;
}

.car img {
  height: 6rem;
  width: 3rem;
}

.right-car {
  left: 75%;
}

.hide {
  display: none;
}

@keyframes toLeft {
  0% {
    left: 25%;
    transform: translate(-50%, +50%) rotateZ(0);
  }
  50% {
    transform: translate(-50%, +50%) rotateZ(45deg);
  }
  100% {
    transform: translate(-50%, +50%) rotateZ(0);
    left: 75%;
  }
}

@keyframes toRight {
  0% {
    left: 75%;
    transform: translate(-50%, +50%) rotateZ(0);
  }
  50% {
    transform: translate(-50%, +50%) rotateZ(-45deg);
  }
  100% {
    transform: translate(-50%, +50%) rotateZ(0);
    left: 25%;
  }
}

.obstacle {
  width: 50px;
  height: 70px;
  position: absolute;
  bottom: 120px;
}

.circle {
  border-radius: 2rem;
  animation: coinSpin 1s infinite;
}

.square {
  border-radius: 0.2rem;
  animation: rotate 1s linear infinite;
}

.collisionSpin {
  animation: spin 2s linear forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(2000deg);
  }
}

@keyframes coinSpin {
  50% {
    transform: rotateY(180deg);
  }
}

.collisionBlink {
  animation: blink 0.5s;
  animation-iteration-count: 4;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
